opencv-python
tensorflow==2.15.0
streamlit
tqdm
numpy
fastapi
pandas
ipython
ipykernel
wheel
seaborn
uvicorn

# jupy
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-resource-usage==0.6.3
jupyter-server==1.21.0
jupyter_client==7.4.3
jupyter_core
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets
jupyterlab_server==2.16.1


# GCP
google-api-core==2.10.2
google-auth==2.28.2
google-auth-oauthlib==1.2.0
google-cloud-bigquery==2.34.4
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-cloud-storage==2.4.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.4
